:root {
    --button-main: rgba(24, 197, 118, 1);
    --white: #ffffff;
    --main-background: #F2F2F2;
    --cabbage: #18C576;
    --hover-cabbage: #bae9d4;
    --orange: #FFA726;
    --pink: #FF5BC6;
    --blue: #39B0F4;
    --violet: #AC59F1;
    --text-slider: #444444;
    --pacination-prime: #1E1E1E;
    --pagination-color: #E6E6E6;
    --form-border-color: #D1D1D1;
    --form-fog-of-war: rgb(0%, 0%, 0%, 0.3);
    --form-title-color: rgb(88, 88, 88);
    --form-active-button: rgb(54, 54, 54);
    --error-color: #E44B4B;
}